@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.footer {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 102px; */
  /* border: 1px solid red; */
  /* background-color: #B3B3B5; */
  /* width: 100px; */
  padding: 10px 20px;
  border-top: 2px solid #b3b3b5;
  color: black;
  font-family: "Poppins", "Noto Sans Devanagari", sans-serif;
}

.dlink {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flink {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

button.btn {
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  font-family: inherit;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer {
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px 50px;
  }
  .dlink {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button.btn {
    display: none;
  }
  .flink {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .footer {
    padding: 10px 50px;
  }

  .flink {
    font-size: 0.8rem;
  }
}
